<!-- Danger back button next to a menu button -->
<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start" ></ion-menu-button>
      <ion-back-button color="white" slot="end" style="background-color:orange; border-radius: 50%;"></ion-back-button>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-card *ngFor="let item of userCart">
    <ion-card-header>
      <ion-card-title>
        Cart {{item.id}}
      </ion-card-title>
    </ion-card-header>

    <ion-item *ngFor="let product of item.products">
      <ion-thumbnail slot="start">
        <ion-img [src]="product"></ion-img>
      </ion-thumbnail>

      <h2>hello</h2>
    </ion-item>

    <ion-button color="danger" (click)="deleteFromCart(item.id)">
      <ion-icon name="trash"></ion-icon>
      Delete
  </ion-button>
  </ion-card>

<ion-content *ngFor="let item of userCart">

</ion-content>
