<ion-app>
    <ion-menu side="start" menuId="m1">
        <ion-header>
            <ion-toolbar>
                <ion-title>
                    Flip Shop
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/home">
                        <ion-icon name="home-outline" slot="start"></ion-icon>
                        <ion-label>
                            Home
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/cart">
                        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
                        <ion-label>
                            My Cart
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" button>
                        <ion-icon name="log-out-outline" slot="start"></ion-icon>
                        <ion-label>
                            Logout
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>